
/* adapted from http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    box-sizing: border-box;
}

html, body { 
    font-family: fantasy;
    
    background-image: url("https://eventage.net/wp-content/uploads/2018/06/Question-Mark-Background-01.jpg");
    height: 100%;
    width: 100%;
}

.header{
    background-color: aqua;
    font-size: 50px;
    text-align: center;
    
}
.button {
    background-color: blanchedalmond;
    font-size: 30px;


}
.flex-container{
   
    align-items: center;
    justify-content: center;
    margin: 40px;
    width: 400px;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 40px;
   
        font-family: monospace;
        font-size: 15px;
        
        text-align: left;
        display: flex;
        justify-content: space-around;
        
}